*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 400px;
    position: relative;
}
.main-img{
    width: 100%;
}
.slider{
    position: absolute;
    top: 20px;
    right: 48px;
    width: 216px;
    opacity: 0;
    transition: .3s;
}
.active{
    opacity: 1;
}